@font-face {
  font-family: 'Uni Sans';
  src: url('../fonts/UniSansRegular.otf') format('opentype');
}

/* general style */
html,
body {
  background-color: #11111b;
  color: #CDD5F4;

  font-family: 'Uni Sans', sans-serif;
}

a {
  color: #7289da;
  text-decoration: none;
}

/* center container */
.center {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  min-height: calc(100vh - 90px);
  margin-bottom: 5vh;
}

/* mirror-list & mirror child */
div.mirror-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  overflow: hidden;

  margin: 0 0 2em 0;

  width: 70%;
}

div.mirror-list>div.mirror {
  margin: 10px;
  padding: 25px;
  box-sizing: border-box;

  border-radius: 1vw;
  border-color: #CDD5F4;
  border-width: 2px;
  border-style: solid;

  background-color: #1E1E2E;
  text-align: center;

  width: 40%;
}

div.mirror-list>div.mirror>a {
  cursor: pointer;
  transition: color .35s ease;
}

div.mirror-list>div.mirror>a:hover {
  color: #ccd4f1;
}

div.mirror-list>div.mirror:has(h3.degraded) > h1{
  margin-top: 0;
}

div.mirror-list>div.mirror:not(:has(h3.degraded)) > h1{
  margin-bottom: 2.5rem;
}

div.mirror-list>div.mirror>h3.degraded {
  margin-bottom: 0;
}

div.mirror-list>div.mirror>h3.degraded>span:not(:last-child):after {
  content: " & ";
  }

/* mobile responsive */
@media only screen and (max-width: 1024px) {
  div.mirror-list {
    flex-direction: column;
  }

  div.mirror-list>div.mirror {
    width: 50vw;
  }
}

@media only screen and (max-height: 1000px) {

  html,
  body {
    overflow-y: visible
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #1E1E2E;
}

::-webkit-scrollbar-thumb {
  background: #CDD5F4;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d9d9d9;
}

/* title & caption */
div.header {
  text-align: center;
  margin: 0 0 2em 0;
}

div.header>h1.title,
div.header>p.caption {
  margin: 0;
}

/* footer */
div.footer {
  text-align: center;
  height: 40px;
}

/* chart-list */
div.chart-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

/* chart */
div.chart-style {
  background-color: #1E1E2E;
  min-height: 0 !important;
  border-radius: 1vw;
  border-color: #CDD5F4;
  border-width: 2px;
  border-style: solid;
  padding: 25px;
}

/* peep the cursed css */
div.apexcharts-legend-series[seriesname="series-1"] {
  display: none !important;
}